<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应的AccountMap类-->
<mapper namespace="com.dw.sms.mapper.AccountMapper">
    <resultMap id="accountUserMap" type="com.dw.sms.entity.Account">
        <id column="account_id" property="accountId"></id>
        <result column="user_id" property="userId"></result>
        <result column="money" property="money"></result>
        <!--一对一关系映射-->
        <association property="user" column="user_id">
            <id column="user_id" property="userId"></id>
            <result column="user_name" property="username"></result>
            <result column="password" property="password"></result>
            <result column="age" property="age"></result>
        </association>
    </resultMap>

    <select id="findAll" resultMap="accountUserMap">
        select u.*,a.account_id,a.money from  `user` u ,account a where u.user_id = a.user_id
     </select>
</mapper>